## Handling categorical missing values

### 1st method: Using the most frequent value

In [2]:
import pandas as pd
from sklearn.impute import KNNImputer
cdata = pd.read_csv ('/home/noura/Documents/MF.csv')
cdata

  Colour  Year   Price      Model
0    NaN  2014   50000  Chevrolet
1  White  2001   20000       Ford
2    Red  2005   30000     Toyota
3  White  2019  100000    Crysler

In [3]:
train12 = cdata.copy()
train12 = train12.fillna(train12.mode().iloc[0])
train12

  Colour  Year   Price      Model
0  White  2014   50000  Chevrolet
1  White  2001   20000       Ford
2    Red  2005   30000     Toyota
3  White  2019  100000    Crysler

### 2nd method: Developing a model to predict missing values

In [ ]:
from sklearn.linear_model import LogisticRegression
train13 = cdata.copy()
#creating variables for training
x_train = train12.iloc[ : ,1:4]
y_train = train12.iloc [:,0]
#fitting our model
m = LogisticRegression()
m.fit(x_train, y_train)
#predicting the missing value
input = [[24,25,0]]
m.predict(input)
train13