# Numpy notes
### Author : Ahmed Gamal

<br>

### First thing to start with is to install the numpy library using command " pip install numpy " in your cmd

###  Or you can execute the command " ! pip install numpy " in Jupyter notebook :

In [ ]:
! pip install numpy

<br>

### Importing the numpy library :

In [2]:
import numpy as np

# Note : "np" is just a name. you can import the library as whatever you want

### Initializing array :

In [5]:
# One dimentional array 

a = np.array([1,2,3])
print (a)

[1 2 3]

In [6]:
# two dimentional array 

b = np.array([[9.0 , 8.0,7.0],[6.0,5.0,4.0]])
print (b)

[[9. 8. 7.]
 [6. 5. 4.]]

### Get the dimention of the array:

In [7]:
# you can get the dimention of an array using "ndim"

'''

here the array a is one dimentional array while array b is two dimentional array

'''

print (a.ndim)
print (b.ndim)

1
2

### Get shape of the array [r , c]

In [8]:
# you can get the shape of an array using "shape"
'''
the array a has 1 row and 3 columns  while array b has 2 rows and 3 columns 
'''
print (a.shape)
print (b.shape)

(3,)
(2, 3)

### Get data type of of elements in array

In [9]:
## you can get the type of an array using "dtype"

print (a.dtype)

int32

### To change the data type of an array

In [10]:
## you can change the type of an array using "astype"

a = a.astype('float32')

print (a.dtype)

float32

### Get size of an array

In [11]:
## you can get the size of an array using "size"

print (a.size)
print (b.size)

3
6

### Accessing a specific element / row / column

In [12]:
a = np.array([[1,2,3,4,5,6,7] , [8,9,10,11,12,13,14]])
print (a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]

#### To get a specific row

In [13]:
a[0 , :]

# This line of code accessing row number 0 and prints every element in this row

array([1, 2, 3, 4, 5, 6, 7])

#### To get a specific column

In [14]:
a[ : , 2]

# This line of code accessing the column number 2 in every row in the array

array([ 3, 10])

#### More proffessional access [startindex: endindex: stepsize]

In [15]:
a[0 , 1:6:2]

# This line of code accessing row number 0 and prints from column number 1 to column number 6 with step size 2

array([2, 4, 6])

#### To change element in the array

In [16]:
a[1 , 5] = 20
# This line of code accessing the element in the row 1 and column 5 which is "13" and change it to 20
print (a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 20 14]]

#### To change elements in a specific columns in every row

In [17]:
a[: , 2] = 5
# This line of code changing the value in coulmn number 2 in every row in the array to 5
print (a)

[[ 1  2  5  4  5  6  7]
 [ 8  9  5 11 12 20 14]]

<br>

### 3-dimentional array example

In [18]:
a = np.array([ [[1,2] , [3,4]] , [[5,6] , [7,8]] ])
print(a)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

### Get a specific element from 3D array

In [19]:
#for example if you want to access number 4 in the previous array
a[0,1,1]

4

<Br>

## Initializing different types of array

#### The all zeros matrix

In [20]:
print(np.zeros(5))

'''
this function initializes an array of zeros with the a size that you pass within

you can also initialize the array with multi dimention as follows:
'''
print("\n")

print (np.zeros((2,3)))

[0. 0. 0. 0. 0.]


[[0. 0. 0.]
 [0. 0. 0.]]

#### The all ones matrix

In [9]:
'''
in the same way you can initialize an array of ones by using function "ones()"
'''
np.ones((2,2,2) , ('int16') )

#Note the second parameter "int16" to change the type of the elements in the array as we change it with "astype" function before

array([[[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]]], dtype=int16)

#### Initialize array with any other number

In [22]:
'''
simply we use the function "full()" which takes 2 parameters:
 1-The first parameter is the shape of the array.
 2- The second parameter is the number that you want to fill the array with
'''
np.full((2,2) , 99)

#That means to initialize an array 2x2 and fill it with number 99

array([[99, 99],
       [99, 99]])

#### Initialize random decimal numbers

In [25]:
'''

to initialize an array of random decimal numbers use "random.rand()" which takes the size of array that you want to initialize

'''
np.random.rand(4,2)

array([[0.61527837, 0.67045125],
       [0.29140138, 0.84165474],
       [0.67560131, 0.11996564],
       [0.04665268, 0.0561588 ]])

#### Initialize random integer numbers

In [19]:
'''
if you want to initialize one integer, use the function "random.ranint()" and pass the end value
for example if you want a number from 0 to 7 use "random.randint(7)"
'''
print (np.random.randint(7))

'''
you can also initialize an array with the same function with passing the shape of the array as follows:
random.randint( 7 , size =(3,3))

'''
print ("\n")
print (np.random.randint(7 , size=(3,3)))

'''
you can also specify the the starting number like " random.randint(4 , 7 , size= (3,3)) " this code will generate a 3x3 array 
from 4 to 6

'''
print ('\n')

print (np.random.randint(4 , 7 , size= (3,3)))

6


[[1 0 1]
 [6 3 2]
 [4 6 0]]


[[4 6 5]
 [4 4 5]
 [4 5 5]]

### Repeat an array

In [29]:
'''

to repeat an array use the function "repeat()" that can repeat the array in all dimentions depends on the parameters you pass.
 1) The first parameter is the array you want to repeat
 2) the second parameter is the number of times you want to repeat
'''
arr = [1,2,3]
r1 = np.repeat(arr , 3)
print (r1)


'''

int multi dimentional array, you pass the axis you want to repeat 

'''
print ('\n')
arr2 = [[1,2,3]]
r2 = np.repeat(arr2 , 3 , axis = 0)
print (r2)

[1 1 1 2 2 2 3 3 3]


[[1 2 3]
 [1 2 3]
 [1 2 3]]

### Becareful when coppying arrays!!

In [4]:
c = np.array([1,2,3])
d = c
d [0] = 100

print (d)
print (c)
print ("\n")

'''
if you did this, then you didn't copy the array "c" to array "d".
you just made a pointer that points to the same array so any change on array "d" will change in the array "c"

'''

'''

To copy the contents of an array to another one use function "copy()" as follows :

'''

e = np.array([4,5,6])
f = e.copy()
f[0] = 40
print (e)
print (f)

[100   2   3]
[100   2   3]


[4 5 6]
[40  5  6]

<br>

# Mathematics

In [11]:
a = np.array([1,2,3,4])
print (a)

[1 2 3 4]

In [12]:
# Add a number to elements of the array
a + 2

array([3, 4, 5, 6])

In [13]:
# Sub a number from element of the array
a - 2

array([-1,  0,  1,  2])

In [14]:
# Multiply a number by the elements of the array
a * 2

array([2, 4, 6, 8])

In [15]:
# Divide a number by the elements of the array
a / 2

array([0.5, 1. , 1.5, 2. ])

In [16]:
# Clculate power of the elements of the array
a ** 2

array([ 1,  4,  9, 16], dtype=int32)

In [17]:
# To store the result in the array

a += 2
print (a)

[3 4 5 6]

In [25]:
# Add two arrays 
b = np.array([1,0,1,0])
print ("a = "+str(a))
print ("b = "+str(b))
a + b

a = [3 4 5 6]
b = [1 0 1 0]

array([4, 4, 6, 6])

In [26]:
# Take the sin

np.sin(a)

array([ 0.14112001, -0.7568025 , -0.95892427, -0.2794155 ])

#### For more mathematical functions  https://numpy.org/doc/stable/reference/routines.math.html

### Linear Algerbra

In [29]:
a = np.ones((2,3))
print(a)

b = np.full((3,2), 2)
print(b)

'''
Now to multiply the matrix "a" by matrix "b" we use function "matmul()"  --> (matrix multiply) as follows :

'''
np.matmul(a,b)

[[1. 1. 1.]
 [1. 1. 1.]]
[[2 2]
 [2 2]
 [2 2]]

array([[6., 6.],
       [6., 6.]])

#### More about linear algebra function   https://numpy.org/doc/stable/reference/routines.linalg.html

### Statistics

In [30]:
stats = np.array([[1,2,3],[4,5,6]])
stats

array([[1, 2, 3],
       [4, 5, 6]])

In [31]:
# get minimum number of the array
np.min(stats)

1

In [32]:
# get maximum number of the array
np.max(stats)

6

In [34]:
# get the sum of all elements of the array
np.sum(stats)

21